.signup-page__container{
    text-align: center;
}

.signup-page__form{
    display: flex;
    flex-direction: column;
}

.signup-page__element{
    width: 100px;
}


.signup-page__input{
    width: 100%;
}

.signup-page__error{
    color: red;
}